@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 29% 97%;
    --foreground: 216 11% 14%;
    --card: 0 0% 100%;
    --card-foreground: 216 11% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 216 11% 14%;
    --primary: 217 89% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 29% 97%;
    --secondary-foreground: 216 11% 14%;
    --muted: 210 29% 97%;
    --muted-foreground: 208 7% 48%;
    --accent: 210 16% 93%;
    --accent-foreground: 216 11% 14%;
    --destructive: 0 80% 65%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 16% 87%;
    --input: 0 0% 100%;
    --ring: 217 89% 48%;
    --radius: 0.8rem;
    --chart-1: 12 76% 61%;
    --chart-2: 217 89% 48%;
    --chart-3: 199 37% 24%;
    --chart-4: 210 74% 66%;
    --chart-5: 180 60% 50%;
  }

  .dark {
    --background: 222 39% 8%;
    --foreground: 210 67% 96%;
    --card: 216 28% 11%;
    --card-foreground: 210 67% 96%;
    --popover: 216 28% 11%;
    --popover-foreground: 210 67% 96%;
    --primary: 217 89% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 216 28% 11%;
    --secondary-foreground: 210 67% 96%;
    --muted: 220 82% 2%;
    --muted-foreground: 210 9% 58%;
    --accent: 214 32% 17%;
    --accent-foreground: 210 67% 96%;
    --destructive: 0 70% 55%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 11% 24%;
    --input: 216 28% 11%;
    --ring: 217 89% 48%;
    --chart-1: 0 70% 55%;
    --chart-2: 217 89% 48%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
